
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<form>
				<div class="mb-3">
				  <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
				  <input type="email" id="add1"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">				
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">URL de la imagen</label>
					<input type="email" id="add2"   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">				
				  </div>
				<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
				<textarea id="add3"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			  	</div>
				<div class="mb-3">
				  <label for="exampleInputPassword1" class="form-label">Precio</label>
				  <input id="add4"  type="password" class="form-control" id="exampleInputPassword1">
				</div>				
				<button type="submit" class="btn btn-primary">Subir Producto</button>
			  </form>
			<!-- Show the "ultimos" products 
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario para agregar prodcutos al catálogo. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos. <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>-->


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>